.Header-Container {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 48px;
    background: var(--mui-palette-background-default);
    color: var(--mui-palette-text-primary);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 15px;
    border-bottom: 1px solid var(--mui-palette-divider);
}

.Header-Left {
    padding-left: 20px;
}

.Header-Center {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.Header-Right {
    padding-right: 20px;
}

.Header-Nav-Title {
    color: var(--mui-palette-primary-main);
    text-decoration: none;
}

.Header-Nav-Link {
    color: var(--mui-palette-primary-main);
    text-decoration: none;
    font-size: 1rem;
    padding-right: 16px;
    padding-left: 16px;
}

.Header-Nav-Link:hover {
    color: var(--mui-palette-secondary-light);
}
